@model workshop1.Models.OrderQueryArg
@{ ViewBag.Title = "訂單查詢頁面"; }


@using (Html.BeginForm("OrderList", "Order", FormMethod.Post))
{

    <table style="margin-top:10px;">
        <tr>
            <td>@Html.LabelFor(m => m.OrderID)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.OrderID, new { type= "number", style="width:200px"})</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.CompanyName)</td>
            <td colspan="3"><kendo-maskedtextbox>@Html.TextBoxFor(m => m.CompanyName, new { @class = "k-textbox", style = "width:200px" })</kendo-maskedtextbox></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EmployeeID)</td>
            <td colspan="3">@Html.DropDownListFor(m => m.EmployeeID, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, "請選擇", new { @class = "form-control", style = "width:200px" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ShipperID)</td>
            <td colspan="3">@Html.DropDownListFor(m => m.ShipperID, (IEnumerable<SelectListItem>)ViewBag.ShipperList, "請選擇", new { @class = "form-control", style = "width:200px" })</td>
        </tr>
        <tr>

            <td >@Html.LabelFor(m => m.OrderDate)</td>
            <td >@Html.TextBoxFor(m => m.OrderDate, new { type = "date" , @class="form-control", style = "width:200px" })</td>
            <td>@Html.LabelFor(m => m.ShipedDate)</td>
            <td>@Html.TextBoxFor(m => m.ShipedDate, new { type = "date", @class = "form-control", style = "width:200px" })</td>
            
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.RequiredDate)</td>
            <td colspan="3">@Html.TextBoxFor(m => m.RequiredDate, new { type = "date", @class = "form-control", style = "width:200px" })</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">
                <input type="submit" id="textButton" value="查詢"  />
                <input type="reset" id="textButton" class="k-button" value="清除"  />
                <button type="button" id="textButton" class="k-button" onclick="location.href='@Url.Action("CreateOrder", "Order")';">新增訂單</button>
            </td>
        </tr>
    </table>

    <script>
        $(document).ready(function () {
            $.getScript("../../Scripts/kendo.all.min.js", function () {
                // create DatePicker from input HTML element
                $("#OrderDate").kendoDatePicker();
                $("#ShipedDate").kendoDatePicker();
                $("#RequiredDate").kendoDatePicker();
                $("#EmployeeID").kendoDropDownList();
                $("#ShipperID").kendoDropDownList();
                $("#textButton").kendoButton();
                $("#OrderID").kendoNumericTextBox({
                });
            })

});
    </script>
}
