
@{
    
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Search", "Search")
</p>
<table class="table">
    <tr>
        <th>
            OrderID
        </th>
        <th>
            CustomerID
        </th>
        <th>
            EmployeeID
        </th>
        <th>
            OrderDate
        </th>
        <th>
            RequiredDate
        </th>
        <th>
            ShippedDate
        </th>
        <th>
           Freight
        </th>
        <th>
            ShipperID
        </th>
        <th>
            ShipAddress
        </th>
        <th>
           ShipCity
        </th>
        <th>
            ShipRegion
        </th>
        <th>
            ShipPostalCode
        </th>
        <th>
            ShipCountry
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.list) {
    <tr>
        <td>
            @item.OrderID
        </td>
        <td>
            @item.CustomerID
        </td>
        <td>
            @item.EmployeeID
        </td>
        <td>
            @item.OrderDate
        </td>
        <td>
            @item.RequiredDate
        </td>
        <td>
            @item.ShippedDate
        </td>
        <td>
            @item.Freight
        </td>
        <td>
            @item.ShipperID
        </td>
        <td>
            @item.ShipAddress
        </td>
        <td>
            @item.ShipCity
        </td>
        <td>
            @item.ShipRegion
        </td>
        <td>
            @item.ShipPostalCode
        </td>
        <td>
            @item.ShipCountry
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) | 
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID }) |
        </td>
    </tr>
}

</table>
