@model _20180329workshop1.Models.Orders

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <table>
        <tr>
            <td>
                訂單編號
            </td>
            <td>
                <input type="text" id="OrderID" name="OrderID"/>
            </td>
        </tr>
        <tr>
            <td>
                客戶名稱
            </td>
            <td>
                <input type="text" id="ContactName" name="ContactName"/>
            </td>
        </tr>
        <tr>
            <td>
                負責員工
            </td>
            <td>
                @Html.DropDownListFor(model=>model.EmployeeID,(List<SelectListItem>)ViewBag.empdata,"請選擇...")
            </td>
        </tr>
        <tr>
            <td>
                出貨公司
            </td>
            <td>
                @Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.shipcom, "請選擇...")
            </td>
        </tr>
        <tr>
            <td>
                訂購日期
            </td>
            <td>
                <input type="date" id="OrderDate" name="OrderDate"/>
            </td>
            <td>
                出貨日期
            </td>
            <td>
                <input type="date" id="ShippedDate" name="ShippedDate"/>
            </td>
        </tr>
        <tr>
            <td>
                需要日期
            </td>
            <td>
                <input type="date" id="RequiredDate" name="RequiredDate"/>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="查詢" class="btn btn-default" />
            <input type="reset" value="清除" class="btn btn-default" />
           
        </div> 
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("新增訂單", "Create")
</div>
